{% extends "admin.twig" %}

{% block title %}Videos{% endblock %}

{% block sidebar %}
    <li>
        <a href="{{ url('videos-add') }}">Enviar</a>
    </li>
{% endblock %}

{% block content %}
    <h1>My Videos</h1>
    <table class="table table-condensed table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Video Id</th>
        </tr>
        </thead>
        <tbody>

        {% if videos is not empty %}

            {% for video in videos %}
                <tr>
                    <td>{{ video._id }}</td>
                    <td>{{ video.title }}</td>
                    <td>{{ video.description }}</td>
                    <td><a href="{{ url('videos-watch',{'video_id':video._id}) }}">{{ video.video_id }}</a></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>nenhum video foi encontrado</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}